@{
    ViewBag.Title = "Thanh toán thành công";
}

<div class="alert alert-success" style="text-align:center">
    <h2>Đặt hàng thành công!</h2>
    <p>Cảm ơn bạn đã đặt hàng. Tổng giá trị đơn hàng của bạn là: <b>@ViewBag.TotalAmount.ToString("N0") VNĐ</b></p>
</div>

@if (ViewBag.QrCodeImage != null)
{
    <div style="text-align:center">
        <p>Vui lòng quét mã QR dưới đây để thanh toán:</p>
        <img src="~/assets/qr.jpg" alt="Mã QR Thanh Toán" style="width: 300px; height: 500px;" />
    </div>
}
else
{
    <div class="alert alert-danger" style="text-align:center">
        Không thể tạo mã QR. Vui lòng thử lại sau.
    </div>
}
